<div class="container" [formGroup]="form">
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" (blur)="handleBlur()" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (form.get('date')?.hasError('required') && form.get('date')?.touched) {
        <mat-error>Date is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="time-select">
      <mat-label>Hour</mat-label>
      <input matInput type="text" formControlName="hour" pattern="[0-2]?[0-9]" maxlength="2" (blur)="handleBlur()" required>
      @if (form.get('hour')?.hasError('required') && form.get('hour')?.touched) {
        <mat-error>Hour is required</mat-error>
      }
      @if (form.get('hour')?.hasError('min') || form.get('hour')?.hasError('max')) {
        <mat-error>Hour must be between 0 and 23</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="time-select">
      <mat-label>Minute</mat-label>
      <input matInput type="text" formControlName="minute" [matAutocomplete]="auto" pattern="[0-5]?[0-9]" maxlength="2" (blur)="handleBlur()" required>
      <mat-autocomplete #auto="matAutocomplete">
        @for (minute of minutes; track minute) {
          <mat-option [value]="minute.value">{{ minute.label }}</mat-option>
        }
      </mat-autocomplete>
      @if (form.get('minute')?.hasError('required') && form.get('minute')?.touched) {
        <mat-error>Minute is required</mat-error>
      }
    </mat-form-field>
  </div>
</div>
