<mat-nav-list>
  @if (!authService.isAuthenticated()) {
    <a mat-list-item routerLink="/signup" (click)="onClose()">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()">
      <mat-icon>input</mat-icon>
      <span class="nav-caption">Login</span>
    </a>
  }

  <a mat-list-item href="http://www.cargopro.ie/sfpc/download/rpt_daydiary.pdf" target="_blank" rel="noopener" (click)="onClose()">
    <mat-icon>description</mat-icon>
    <span class="nav-caption">Day Diary</span>
  </a>

  @if (authService.isAuthenticated()) {
    <a mat-list-item href="https://shannonpilots-6fedd.firebaseapp.com/" target="_blank" rel="noopener" (click)="onClose()">
      <mat-icon>directions_boat</mat-icon>
      <span class="nav-caption">Current Ships</span>
    </a>
    <a mat-list-item routerLink="/charges" (click)="onClose()">
      <mat-icon>attach_money</mat-icon>
      <span class="nav-caption">Charges</span>
    </a>
    <a mat-list-item class="logout-link" (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </a>
  }
</mat-nav-list>
