.filter-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
  max-width: 400px;
}

table {
  width: 100%;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f5f5f5;
}
